body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.top {
    padding: 16px 200px 0 200px;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

/* site description */

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
}

.text h2{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.text p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.img-placeholder {
    background-color: #e5e7eb89;
    flex: 1;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    
}

